version: "3.2"
services:
  app:
    build:
      context: .
    image: "job:latest"
    container_name: "job"
#    network_mode: "bridge"
    networks:
      udsdating_network:
        ipv4_address: 172.30.3.10
#    restart: "always"
    restart: "no"
    privileged: true
    devices:
      - /dev/fuse:/dev/fuse:rwm
    cap_add:
      - SYS_ADMIN
    extra_hosts:
      - "host.docker.internal:host-gateway"
      - "dev.job.org.ua:127.0.0.1"
      - "dev-admin.job.org.ua:127.0.0.1"
      - "dev-hr.job.org.ua:127.0.0.1"
      - "jobdbhost:127.0.0.1"
    volumes:
      - type: "bind"
        source: "./config/container/run.sh"
        target: "/run.sh"
      - type: "bind"
        source: "./config/container/crontab"
        target: "/mnt/external/crontab"
      - type: "bind"
        source: "../../"
        target: "/mnt/external/vhosts/job.org.ua"
      - type: "bind"
        source: "./config/container/ssl"
        target: "/var/www/ssl"
      - type: "bind"
        source: "./config/container/nginx/nginx.conf"
        target: "/etc/nginx/nginx.conf"
      - type: "bind"
        source: "./config/container/nginx/include"
        target: "/etc/nginx/include"
      - type: "bind"
        source: "./config/container/nginx/sites-available"
        target: "/etc/nginx/sites-available"
      - type: "bind"
        source: "./config/container/nginx/sites-enabled"
        target: "/etc/nginx/sites-enabled"
      - type: "bind"
        source: "./config/container/nginx/snippets"
        target: "/etc/nginx/snippets"
#      - type: "bind"
#        source: "./config/ssl"
#        target: "/root/ssl"
      - type: "bind"
        source: "./config/container/php/8.3/fpm/pool.d"
        target: "/etc/php/8.3/fpm/pool.d"
      - type: "bind"
        source: "./config/container/php/8.3/fpm/php-fpm.conf"
        target: "/etc/php/8.3/fpm/php-fpm.conf"
      - type: "bind"
        source: "./config/container/php/8.3/fpm/php.ini"
        target: "/etc/php/8.3/fpm/php.ini"
      - type: "bind"
        source: "./config/container/php/8.3/mods-available/xdebug.ini"
        target: "/etc/php/8.3/mods-available/xdebug.ini"
      - type: "bind"
        source: "./config/container/mysql/mysql"
        target: "/mnt/external/mysql/"
      - type: "bind"
        source: "./config/container/mysql/conf/50-server.cnf"
        target: "/etc/mysql/mariadb.conf.d/50-server.cnf"
      - type: "bind"
        source: "./config/container/mysql/conf/50-client.cnf"
        target: "/etc/mysql/mariadb.conf.d/50-client.cnf"
      - type: "bind"
        source: "./log"
        target: "/mnt/external/log/nginx"
    command: /bin/bash -c "./run.sh"
#    command: /bin/bash -c "service memcached start && service php7.0-fpm start && sleep infinity"
#    command: /bin/bash -c "sleep infinity"

networks:
  udsdating_network:
    driver: bridge
    ipam:
      config:
        - subnet: 172.30.3.0/24
